* {
    scroll-behavior: smooth;
    box-sizing: content-box;
}

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
                               
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
    background-color: #344a5e;
    transition: top 0.2s ease;
    z-index: 10;
}

.site-header-title {
    font-size: 24px;
    font-weight: 300;
}

.site-header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-header-buttons > p {
    margin-right: 40px;
}

.site-header-buttons > p:last-child {
    margin-right: 20px;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.main-box {
    position: relative;
    width: 50vw;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.main-title {
    font-family: "Bree Serif", serif;
    font-size: 10vw;
}

.main-buttons {
    width: 75%;
    position: absolute;
    top: calc(100% + 16px);
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-buttons > span {
    font-size: 2vw;
    margin: 0 10px;
    border-bottom: 3px solid #344a5e;
}

.main-buttons > span:hover {
    color: #344a5e;
    border-bottom: 3px solid #344a5e;
}

.main-graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    animation: main-graph 300s infinite;
}

@keyframes main-graph {
    0% {
        -webkit-transform: scale(0.5) rotate(360deg);
    }
    50% {
        -webkit-transform: scale(1) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(0.5) rotate(360deg);
    }
}

.main-graph-canvas {
    height: 100%;
    width: 100%;
}

body > div:nth-of-type(n+3) {
    position: relative;
    margin: 0 auto;
    width: 800px;
    background-color: white;
    z-index: 2;
    padding-bottom: 120px;
}

body > div:nth-of-type(n+3)>h1 {
    color: #344a5e;
    border-bottom: 3px solid #344a5e;
}

body > div:nth-of-type(n+3)>h2 {
    color: #344a5e;
}

.graph > canvas {
    width: 100%;
}

.graph > canvas:after {
    display: block;
    padding-bottom: 100%;
}

.graph {
    position: relative;
}

.hidden {
    display: none;
    top: 0;
    height: 100%;
    vertical-align: middle;
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-width: calc((100vw - 800px) / 2 - 30px);
    min-width: 40%;
}

.hidden::-webkit-scrollbar {
    display: none;
}

.graph:hover .hidden {
    display: flex;
    position: absolute;
}

.hidden > code {
    margin: auto 0;
}

.js {
    right: 100%;
}

.json {
    left: 100%;
}

.hljs {
    background: transparent;
}

.graphControls {
    min-height: 0;
    text-align: center;
}

.graphControls > h1 {
    text-align: left;
    color: #344a5e;
}

.graphControls > ul {
    display: flex;
    margin: 0 10px;
    padding: 0;
}

.graphControls > ul > li {
    display: inline-flex;
    flex-grow: 1;
    border: 1px solid black;
    padding: 10px 0;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.graphControls > ul > li:hover {
    color: white;
    background-color: #344a5e;
}

.scroll-down {
    width: 116px;
    height: 55px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: calc(100% - 64px);
    stroke: #344a5e;
    stroke-width: 3;
    margin-left: -58px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: scroll-down;
    animation-timing-function: ease;
}

@keyframes scroll-down {
    0%  { transform: translateY(0); }
    20%  { transform: translateY(-15px); }
    50%  { transform: translateY(0); }
    100%  { transform: translateY(0); }
}
